*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

div{
	background-color: grey;
}

#pheading1{
	margin: 5px;
	font-size: 20px;
	font-family: Helvetica;
	color:white;
	text-align: center;
}

#pheading2{
	margin: 5px;
	font-size: 20px;
	font-family: Helvetica;
	color:white;
	text-align: center;
}
#pheading3{
	margin: 5px;
	font-size: 20px;
	font-family: Helvetica;
	color:white;
	text-align: center;
}
#ptext{
	padding: 10px;
	clear: right;
	font-size: 125%;
}

.border{
	padding: 0px;
	margin: 0px;
	clear: right;
}

#header-nav{
	background-color: grey;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1{
	font-weight: bold;
	color: black;
	margin-top: 0;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav a {
  color: white;}

a{
	color: white;
}

.container{
	margin-bottom: 40px;
	width: 90%;
}
